#gamediv {
  background-color: antiquewhite;
  margin-bottom: 50px;
}

#nimdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: all 0.5s ease-in-out;
}

#nimdiv div {
  background-color: brown;
  width: 100px;
  height: 100px;
  transition: all 0.5s ease-in-out;
}

#buttondiv {
  display: flex;
  justify-content: space-around;
}

#buttondiv div {
  background-color: aqua;
  padding: 1rem;
}
#buttondiv div:hover {
  cursor: pointer;
}
