* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  max-width: 1024px;
  color: black;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  letter-spacing: 0.01em;
  margin: 0 auto;
  background-color: #fef5ef;
}

body {
  background-color: white;
  color: black;
  width: 100%;
}
/* Header */
header {
  background-color: #493e45;
  width: 100%;
  padding: 0.7rem;
  height: 155px;
}

.header-container h1 {
  display: block;
  margin-top: 50px;
  text-align: center;
  width: 70%;
  color: #a8b9d4;
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.header-container nav {
  padding: 1.5rem 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  color: #feb95f;
}

.header-container img {
  float: left;
  height: auto;
  padding: 0 0 0 40px;
  max-width: 150px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  display: inline-block;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}

li:hover {
  color: rgb(89, 216, 245);
}
/* Main */

/* Index */
#introtitle {
  padding: 20px;
  font-weight: 700;
}

.main-container {
  overflow: hidden;
}

.game-banner {
  background: url("..path/to/image") repeat-x;
  padding-top: 50px;
  height: 420px;
  width: 5076px;
  animation: slide 60s linear infinite;
}

.game-banner img {
  width: 10%;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

/* 18/4 - carry on working here */
.intro-section {
  padding: 20px;
  text-align: center;
}

#nimintro {
  padding-top: 10px;
  margin: 15px;
  padding-bottom: 80px;
}

#nimintro img {
  height: 250px;
  width: 270px;
  float: left;
}

.button {
  background-color: #feb95f;
  border: none;
  color: #493e45;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 60px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

/* Game */

#compHolder {
  position: relative;
  top: 0px;
  left: 170px;
}

#compHolder h2 {
  position: relative;
  top: 20px;
  right: 90px;
}

#compBorder {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 2;
}

#compStatic {
  position: relative;
  top: 8px;
  right: 149px;
  width: 145px;
  z-index: 1;
}

#compThink {
  position: relative;
  top: 8px;
  right: 148px;
  width: 145px;
  height: 70px;
  content: url("/images/thinking.gif");
}

#compSmug {
  position: relative;
  top: 5px;
  right: 145px;
  width: 140px;
  content: url("/images/mutly.gif");
}
/* Results */
.result-container {
  padding-top: 50px;
}

.result-container img {
  height: auto;
  margin: auto;
  display: block;
  padding-bottom: 40px;
}

.mobileButton {
  background-color: #feb95f;
  border: none;
  color: #493e45;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: auto;
  font-size: 16px;
  margin-bottom: 20px;
}

button .comment {
  display: none;
}

button:hover .replies {
  display: none;
}

button:hover .comment {
  display: inline;
}

/* Footer */
footer {
  background-color: #9d5c63;
  padding: 20px;
  color: #fef5ef;
}
