* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  max-width: 1024px;
  color: black;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  letter-spacing: 0.01em;
  margin: 0 auto;
  background-color: #fef5ef;
}

body {
  background-color: white;
  color: black;
  width: 100%;
}
/* Header */
header {
  background-color: #493e45;
  width: 100%;
  padding: 0.7rem;
  height: 155px;
}

.header-container h1 {
  display: block;
  margin-top: 50px;
  text-align: center;
  width: 70%;
  color: #a8b9d4;
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.header-container nav {
  padding: 1.5rem 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  color: #feb95f;
}

.header-container img {
  float: left;
  height: auto;
  padding: 0 0 0 40px;
  max-width: 150px;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}

nav li:hover {
  color: rgb(89, 216, 245);
}
/* Main */

/* Index */
#introtitle {
  padding: 20px;
  font-weight: 700;
}

.main-container {
  overflow: hidden;
}

.game-banner {
  background: url("..path/to/image") repeat-x;
  padding-top: 50px;
  height: 420px;
  width: 5076px;
  animation: slide 60s linear infinite;
}

.game-banner img {
  width: 10%;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

/* 18/4 - carry on working here */
.intro-section {
  padding: 20px;
  text-align: center;
}

#nimintro {
  padding-top: 10px;
  margin: 15px;
  padding-bottom: 80px;
}

#nimintro img {
  height: 250px;
  width: 270px;
  float: left;
}

.button {
  background-color: #feb95f;
  border: none;
  color: #493e45;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 60px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

/* Game */

#compHolder {
  position: relative;
  width: 700px;
  height: 100px;
  top: 20px;
  left: 300px;
}

#compHolder #compBorder {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

#compHolder .compStatic {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 145px;
  z-index: 1;
}

#evilface {
  opacity: 0;
}

.compStatic + #evilface {
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
  width: 145px;
  z-index: 2;
}

#compHolder .compThink {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 135px;
  height: 70px;
  content: url("/images/thinking.gif");
  object-fit: fill;
}

#compHolder .compSmug {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 140px;
  content: url("/images/mutly.gif");
}


#gameinstruct {
  font-family: DejaVu Sans Mono, monospace;
  padding: 50px;
  text-align: center;
  background-color: #493e45;
  color: #fef5ef;
}

#ducksworthtext {
  color: #feb95f;
}

#evilcomp {
  color: #eb686d;
}

#gameinstruct p {
  padding: 2px;
  width: 71%;
  transform: translateX(22%);

#compHolder #speechbubble {
  position: absolute;
  top: 0px;
  left: 170px;
  scale: 200%;
  /* height: 500;
  width: 600px; */
  z-index: 1;
}

#compHolder #speech {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  position: absolute;
  top: 0px;
  left: 210px;
  width: 160px;
  height: 50px;
  z-index: 2;
}
#compHolder #speech h2 {
  text-align: center;
}
#compHolder #speech h2.thinking {
  text-align: center;
  animation-name: thinkingText;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes thinkingText {
  0% {
    letter-spacing: normal;
  }
  50% {
    letter-spacing: 0.2em;
  }
  100% {
    letter-spacing: normal;
  }
}

#compHolder #ducksworth.hidden {
  display: none;
}
#compHolder #ducksworth.revealed {
  position: absolute;
  top: -30px;
  left: -82px;
  width: 130px;
  height: 150px;
  z-index: 1;
  animation-name: reveal-ducksworth;
  animation-timing-function: ease;
  animation-duration: 2s;
}

@keyframes reveal-ducksworth {
  0% {
    top: -200px;
  }
  100% {
    top: -30px;
  }
}
#compHolder #ducksworth-arm,
#compHolder #ducksworth-claw1,
#compHolder #ducksworth-claw2 {
  position: absolute;
  top: -590px;
  left: -82px;
  height: 500px;
}
#compHolder #ducksworth-claw2 {
  z-index: 2;
}
#compHolder #ducksworth-arm.revealed,
#compHolder #ducksworth-claw1.revealed,
#compHolder #ducksworth-claw2.revealed {
  animation-name: reveal-ducksworth-arm;
  animation-timing-function: ease;
  animation-duration: 4s;
}
@keyframes reveal-ducksworth-arm {
  0% {
    top: -590px;
  }
  50% {
    top: -420px;
  }
  100% {
    top: -590px;
  }

}

/* Results */
.result-container {
  text-align: center;
  margin: 5px;
}

.result-container h2 {
  font-size: larger;
  font-weight: 700;
}

#statView {
  width: 65%;
  position: relative;
  transform: translateX(18%);
  margin: 50px;
}

#statView p {
  width: 92%;
  text-align: center;
  margin: 50px;
}

#statList {
  margin: 40px;
}

.mobileButton {
  background-color: #feb95f;
  border: none;
  color: #493e45;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: auto;
  font-size: 16px;
  margin-bottom: 20px;
}

button .comment {
  display: none;
}

button:hover .replies {
  display: none;
}

button:hover .comment {
  display: inline;
}

/* Footer */
footer {
  background-color: #9d5c63;
  padding: 20px;
  color: #fef5ef;
}
